<h1>FAQ</h1>

<div>
  Q: What is this website?
  <br />
  A: It is a place for you to give your belongings a new lease of life by finding it another home.
</div>
<br />
<br />
<br />
<div>
  Q: How do you post an Ad?
  <br />
  A: Click on the Products section at the top of the page, go to bottom of the page and click on New Product. Fill out the details of your products and click on Post Ad.
</div>
<br />
<br />
<br />
<div>
  Q:How much does it cost?
  <br />
  A: It is absolutely free!!!!!!!!
</div>
<br />
<br />
<br />
<div>
  Q: How can do I pick the goods up?
  <br />
  A: Get in contact with the ad poster, to arrange a convienient way of collecting it.
</div>
<br />
<br />
<br />
<div>
  Q: What if my questions haven't been answered yet?
  <br />
  A: Send us an email at info@thefreestore.com and we would get back to you as soon as possible.
</div>
