<h1>FAQ</h1>

<div>
  Q: What is this website?
  <br />
  A: It is a place for you to give your belongings a new lease of life by finding it another home.
</div>
<br />
<br />
<br />
<div>
  Q: How do you post an Ad?
  <br />
  A: Click on the Products section at the top of the page, go to bottom of the page and click on New Product. Fill out the details of your products and click on Post Ad.
</div>

<div>
  Q:
  <br />
  A:
</div>

<div>
  Q:
  <br />
  A:
</div>

<div>
  Q:
  <br />
  A:
</div>
