<div class="center jumbotron">
  <h1>Welcome to the Free Store</h1>

  <h2>
    This is the website to dispose your belongings responsibly and help them find second loving home.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
