<div class="center jumbotron">

  <h3>Welcome to the Free Store,
    <% if logged_in? %>
      <%= current_user.name %>
    <% end %>
  </h3>

  <h2>
    This is the website to dispose your belongings responsibly and help them find second loving home.
  </h2>

  <% if logged_out? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
